body {
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.topnav {
    overflow: hidden;
    background-color: burlywood;
}

.topnav a {
    float: left;
    color: rgb(103, 103, 76);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: bisque;
    color: brown;
}

.topnav a.active {
    background-color: rgb(194, 157, 109);
    color: rgb(124, 72, 34);
}